<div class="C_TableBody">
	<% model.tbody.forEach(function (tr) { %>
		<div class="C_TableBody_tr">
			<% tr.forEach(function (td) { %>
				<div class="C_TableBody_td">
					<%= td %>
				</div>
			<% }) %>
		</div>
	<% }) %>
</div>