<div class="C_Pagination">
	<div class="C_Pagination_prev <%= (model.currentPage === 1) ? 'disable' : ''%>">Prev</div>
	
	<% for(var i = 1; i <= model.totalPages; i++) { %>
		<div class="C_Pagination_item <%= (i === model.currentPage) ? 'current' : ''%>"><%= i %></div>
	<% } %>

	<div class="C_Pagination_next <%= (model.currentPage === model.totalPages) ? 'disable' : ''%>">Next</div>

	<div class="C_Pagination_goto">
		<div class="C_Pagination_goto_text"></div>
		<div class="C_Pagination_goto_button"></div>
	</div>
</div>