.C_MulitSelect {
}

.C_MulitSelect .C_selected_area {
	border: 1px solid #d7d7d7;
	height: 40px;
	overflow-y: auto;
}

.C_MulitSelect .C_MultiSelect_options {
	position: relative;
}

.C_MulitSelect .C_MultiSelect_options .C_Options{
	width: 100%;
	margin-top: 2px;
}

.C_MulitSelect .C_selected_area .C_selected_item {
	display: inline-block;
	font-size: 14px;
	height: 14px;
	line-height: 14px;
	margin: 4px;
	padding: 8px;
	border: 1px solid #d7d7d7;
	border-radius: 4px;
}

.C_MulitSelect .C_selected_area .C_selected_item .delete-item-icon {
	padding-left: 4px;
    cursor: pointer;
}

