<div class="C_TableHeader">
	<div class="C_TableHeader_tr">
		<% model.thead.forEach(function (th, idx) { %>
			<div class="C_TableHeader_th" data-col="<%= idx %>">
				<%= th %>
			</div>
		<% }) %>
	</div>
</div>