<div class="C_FormElement">
	<div class="C_FormElement_label">
		<% if(required) { %>
			<span class="required">*</span>
		<% } %>
		<span class="text"><%= label %></span>
	</div>
	<div class="C_FormElement_component">
	</div>
	<div class="C_FormElement_error">
	</div>
</div>