.C_Hover_Wrapper {
	position: absolute;
	bottom: 24px;
}

.C_Hover {
	border-radius: 5px;
  	border: 1px solid #999;
  	background: #f7f7f7;
  	height: 24px;
  	line-height: 24px;
}

.C_Hover_Wrapper:before {
  	position: absolute;
    content: ' ';
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #999;
}

.C_Hover_Wrapper:after {
  	position: absolute;
    content: ' ';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #f7f7f7;
}

.C_Hover_Wrapper[arrow-pos='1']:before {
  	bottom: -6px;
  	left: 15px;
}

.C_Hover_Wrapper[arrow-pos='1']:after {
  	bottom: -5px;
  	left: 16px;
}

.C_Hover_Wrapper[arrow-pos='2']:before {
  	bottom: -6px;
  	left: 50%;
  	margin-left: -7px;
}

.C_Hover_Wrapper[arrow-pos='2']:after {
  	bottom: -5px;
  	left: 50%;
  	margin-left: -6px;
}