<div class='C_Search'>

	<div class="dropdown">
		<input class="C_Search_input" type="text" value="<%= selected.label %>"/>
		<span class="search-icon"/>
	</div>

	<div class="C_Search_options">
	</div>
	
</div>