<div class="C_Stepper">
	<span class="dec">-</span>
	<div class="C_Stepper_input_wrapper">
		<input class='C_Stepper_input' typt='text' value='<%= number %>'></input>
	</div>
	<span class="inc">+</span>
</div>	