<div class='C_Text'>

	<div class='C_Text_label'>
		<% if(_required) { %> 
			<i>*</i> 
		<% } %>
		<span><%= _label %></span>
	</div> 

	<input class='C_Text_input' typt='text' placeholder='<%= _placeholder %>' value='<%= _value %>' maxLength=''/>

</div>