<div class='C_Text'>

	<div class="C_Text_wrapper">
		<input class='C_Text_input' typt='text' placeholder='<%= placeholder %>' value='<%= text %>' <%= enabled ? '' : 'disabled'%>></input>
	</div>
	<% if(rules) { %>
		<div class="C_Text_errorMsg">
		</div>
	<% } %>
</div>