<div class='C_Text'>

	<div class="C_Text_wrapper">
		<input class='C_Text_input' typt='text' placeholder='<%= placeholder %>' value='<%= text %>' <%= enabled ? '' : 'disabled'%>></input>
		<% if(iconUrl) { %>
		<span class="C_Text_icon">
			<i></i>
		</span>
		<% } %>
	</div>

</div>