<div class="hover-tab">
	<div class="element default-hover">Oh hover</div>

    <div class="element ellipsis-hint">
      <span>this is a long text, and will use the text-overflow: ellipsis
      </span>
    </div>

    <div class="element hover-style-2">Hover style 2</div>

    <div class="element hover-style-3">Hover style 3</div>

    <div class="element hover-style-5">Hover style 5</div>

    <div class="element hover-style-6">Hover style 6</div>

    <div class="element hover-style-7">Hover style 7</div>

	<div class="demo-code"></div>
</div>