<div class="C_Button">
	<% if(model.text) { %>
		<span class="C_Button_text">
			<%= model.text %>
		</span>
	<% } %>		
	<% if(model.iconClass) { %>
		<div class="C_Button_icon"></div>
	<% } %>	
</div>