.C_Toastr {
	padding: 8px;
	margin: 4px;
	border: 1px solid #d7d7d7;
	border-radius: 4px;
	background: #f7f7f7;
}

.C_Toastr i {
	float: right;
	cursor: pointer;
}

.C_Toastr .C_Toastr_content {
	word-break: break-word;
}