<div class="icon-tab">
	<div class="icon icon-search"></div>

	<div class="icon icon-cog"></div>

	<div class="icon icon-cogs"></div>

	<div class="icon icon-file"></div>

	<div class="icon icon-list"></div>

	<div class="demo-code"></div>
</div>