<div class="icon-tab">
	<div class="element icon-search"></div>

	<div class="element icon-cog"></div>

	<div class="element icon-cogs"></div>

	<div class="element icon-file"></div>

	<div class="element icon-list"></div>

	<div class="demo-code"></div>
</div>