<div class="demo-code-html">
	<pre><%= model.htmlCode %></pre>
</div>

<div class="demo-code-js">
	<pre><%= model.jsCode %></pre>
</div>

<div class="demo-code-events">
	<pre><%= model.eventsCode %></pre>
</div>

<div class="demo-code-messages">
	<pre><%= model.messagesCode %></pre>
</div>