<div class="demo-code-html">
	<pre><%= htmlCode %></pre>
</div>

<div class="demo-code-js">
	<pre><%= jsCode %></pre>
</div>

<div class="demo-code-events">
	<pre><%= eventsCode %></pre>
</div>

<div class="demo-code-messages">
	<pre><%= messagesCode %></pre>
</div>