<div class="button-tab">
	<div class="element submit-button"></div>

	<div class="element cancel-button"></div>

	<div class="element disabled-button"></div>

	<div class="element icon-button"></div>

	<div class="element icon-only-button"></div>

	<div class="demo-code"></div>
</div>