.toastr-tab .element {
	margin: 20px;
}

.toastr-tab .show-default-toastr {
	display: block;
	width: 160px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px solid #d7d7d7;
	border-radius: 4px;
}

.toastr-tab .default-toastr {
	position: fixed;
	bottom: 0px;
	right: 0px;
}