<div class="C_MulitSelect">
	<div class="C_selected_area">
		<% selected.forEach(function (item) { %>
			<span class="C_selected_item" data-value="<%= item.value %>">
				<%= item.label %>
				<i></i>
			</span>
		<% }) %>
	</div>
	<div class="C_MultiSelect_options">
	</div>
</div>