.C_CheckboxGroup {

}

.C_CheckboxGroup .C_checkbox {
	display: inline-block;
	margin-right: 24px;
	cursor: pointer;
}

.C_checkbox .C_checkbox_icon {
	display: inline-block;
	width: 12px;
	height: 12px;
	border: 1px solid #f63;
	vertical-align: middle;
}

.C_checkbox.checked .C_checkbox_icon i {
	display: block;
	width: 8px;
	height: 8px;
	margin: 2px;
	background: #f63;
}