<div class="C_Calendar">
	<div class="C_Calendar_selector">
		<div class="pre"><</div>
		<span class="picked-month"><%= model.month %></span>
		<div class="next">></div>
	</div>
	<table class="C_Calendar_table">
		<thead>
			<tr>
				<th>日</th>
				<th>一</th>
				<th>二</th>
				<th>三</th>
				<th>四</th>
				<th>五</th>
				<th>六</th>
			</tr>
		</thead>
		<tbody>
			<% 
				var idx = 0;
				model.daysInMonth.forEach(function(item){ 
					
					if(idx%7 === 0) {
			%>
						<tr>
					<% } 
						idx += 1;
						if(item) {
					%>
						<td class="<%= (item.enabled) ? 'enabled' : 'disabled'%> <%= (item.value == model.day) ? 'selected' : ''%>"><%= item.value %></td>
					<% } else { %>
						<td class="disabled"></td>
					<% } %>

					<% if(idx%7 === 0) { %>
						</tr>
					<% } %>
			<% }) %>
		</tbody>
	</table>
</div>