<div class="C_Modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<%= model.header %>
			</div>
			<div class="modal-body">
				<%= model.content %>
			</div>
			<div class="modal-footer">
				<div class="modal-confirm">确认</div>
				<div class="modal-cancel">取消</div>
			</div>
		</div>
	</div>
</div>