.C_Text {

}

.C_Text .C_Text_label {

}

.C_Text .C_Text_wrapper {
	display: inline-block;
	border-radius: 4px;
	border: 1px solid #999;
}

.C_Text .C_Text_wrapper.error {
	border: 1px solid red;
}

.C_Text .C_Text_wrapper .C_Text_input {
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	padding: 0px 8px;
	border: none;
	border-radius: 4px;
}

.C_Text .C_Text_errorMsg {
	color: red;
}