.C_Text {

}

.C_Text .C_Text_input.error {
	border: 1px solid red;
}

.C_Text .C_Text_input {
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	padding: 0px 8px;
	border: 1px solid #d7d7d7;
	border-radius: 4px;
}