<div class="C_IconButton">
	<div class="C_Button">
		<% if(text) { %>
		<span class="C_Button_text">
			<%= text %>
		</span>
		<% } %>
		
		<% if(iconClass) { %>
		<div class="C_Button_icon">
		</div>
		<% } %>
	</div>
</div>