<div class="text-tab">
	<div class="element text"></div>

	<div class="element disabled-text"></div>

	<div class="element icon-text"></div>

	<div class="element text-length"></div>

	<div class="element text-with-length"></div>

	<div class="demo-code"></div>
</div>